@page "/book/{id:int}"
@inject IBookService BookService

@if (book == null)
{
    <span>Book is loading..................................</span>
}
else
{
    <h3>This is @book.Title, by @book.Author </h3>
    <span>This Book belongs to @book.BookType.Name.</span>
}

@code {
    [Parameter]
    public int Id { get; set; }

    MyLearningPath.Shared.Book book = new MyLearningPath.Shared.Book();

    protected override async Task OnInitializedAsync()
    {
        book = await BookService.GetBook(Id);

    }

}
